<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
</head>
<body>
{% block content %}
    <div align="left">
    <form action="/"><button>Main</button></form>
    </div>
    <div class="comment">
    {% if comment %}
        <table border="1" width="100%" cellpadding="5">
        {% for i in comment %}
            <tr>
                <th><a href="{{ i.id }}"> Comment about "{{ i.name }}"</a></th>
            </tr>
        {% endfor %}
        </table>
        <p>Count of comments: {{ count }}</p>
        {% else %}
            <p>There are no comments, add some.</p>
        {% endif %}
    </div>
{% endblock %}
</body>
</html>