<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book catalog</title>
</head>
<body>
{% block content %}
    <div align="left">
    <form action="/"><button>Main</button></form>
    </div>
    <div class="catalog">
    {% if book %}
        <table border="1" width="100%" cellpadding="5">
        {% for i in book %}
                 <tr>
                     <th><a href="{{ i.id }}">{{ i.name }} - {{ i.display_authors }}</a></th>
                 </tr>

        {% endfor %}
        </table>
        <p>Average rating of books: {{ rating }}</p>
        <p>Average price of books: {{ price }}</p>
        <p>Count of books: {{ pubs }}</p>
        {% else %}
            <p>There are no books, add some.</p>
        {% endif %}
    </div>
{% endblock %}
</body>
</html>